<div class="container">
  <div class="row" style="margin:200px 0">
    <div class="col">
      <form action="/admin/login" method="POST">
        <div class="mb-3">
          <label for="usuario" class="form-label">Ingresa tu nombre de usuario</label>
          <input
            type="text"
            id="usuario"
            class="form-control"
            placeholder="Usuario"
            name="usuario"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Ingresa tu contraseña</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Contraseña"
            required
          />
        </div>
        <button type="submit" class="btn btn-warning">Ingresar</button>
      </form>
      {{#if error}}
        <p>Usuario o contraseña incorrectos</p>
      {{/if}}
    </div>
  </div>
</div>