<div class="'container" style="margin: 50px auto">
  <div class="row">
    <div class="col">
      <p class=" text-end">
        Hola
        {{usuario}}
        !<a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión</a><i
          class="bi bi-x-square"
        ></i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
        <h3>Listado de noticias</h3>
    </div>
    <div class="col-2 text-end">
        <a href="#" class="btn btn-success"><i class="fa fa-plus"></i>Nuevo</a>
  </div>
  <div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Noticia 1 Titulo</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-sm btn-secondary">
                            <i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-sm btn-secondary">
                            <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>