<div class="'container" style="margin-top: 50px">
    <div class="row">
        <div class="col">
            <p class="text-end"> Hola {{usuario}} !<a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión</a><i class="bi bi-x-square"></i></p>
        </div>
    </div>
</div>